<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Nancy.Assemblies" value="bin/" />
    <add key="Nancy.Codes" value="App_Code/" />
    <add key="Nancy.UseIgnore" value="true" />
    <add key="Nancy.IgnoreFile" value=".nancyignore" />
    <add key="Nancy.AutoRefresh" value="true" />
    <add key="Nancy.RefreshInterval" value="10" />
  </appSettings>
</configuration>